# Node
node_modules/
dist/
.env
.env.local
.env.development
.env.production

# Android
.gradle/
build/
*/build/
local.properties
*.iml
.idea/
.kotlin/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*